In [130]:
import pandas as pd

In [131]:
data=pd.read_csv('C:/Users/OLUWAFEMI/Downloads/OKCupid-Date-A-Scientist-Starter/OKCupid-Date-A-Scientist-Starter/profiles.csv')
print(data)

       age       body_type               diet      drinks      drugs  \
0       22  a little extra  strictly anything    socially      never
1       35         average       mostly other       often  sometimes
2       38            thin           anything    socially        NaN
3       23            thin         vegetarian    socially        NaN
4       29        athletic                NaN    socially      never
...    ...             ...                ...         ...        ...
59941   59             NaN                NaN    socially      never
59942   24             fit    mostly anything       often  sometimes
59943   42         average    mostly anything  not at all      never
59944   27        athletic    mostly anything    socially      often
59945   39         average                NaN    socially        NaN

                               education  \
0          working on college/university
1                  working on space camp
2         graduated from masters program
3          working on college/university
4      graduated from college/university
...                                  ...
59941  graduated from college/university
59942      working on college/university
59943     graduated from masters program
59944      working on college/university
59945     graduated from masters program

                                                  essay0  \
0      about me:<br />\n<br />\ni would love to think...
1      i am a chef: this is what that means.<br />\n1...
2      i'm not ashamed of much, but writing public te...
3              i work in a library and go to school. . .
4      hey how's it going? currently vague on the pro...
...                                                  ...
59941  vibrant, expressive, caring optimist. i love b...
59942  i'm nick.<br />\ni never know what to write ab...
59943  hello! i enjoy traveling, watching movies, and...
59944  "all i have in this world are my balls and my ...
59945  is it odd that having a little "enemy" status ...

                                                  essay1  \
0      currently working as an international agent fo...
1      dedicating everyday to being an unbelievable b...
2      i make nerdy software for musicians, artists, ...
3              reading things written by old dead people
4                             work work work work + play
...                                                  ...
59941  the happiest times have been when life came to...
59942  currently finishing school for film production...
59943  i'm a civil engineer, who enjoys helping the c...
59944  following my dreams...<br />\n"you got a dream...
59945  i work with elderly people (psychotherapy and ...

                                                  essay2  \
0      making people laugh.<br />\nranting about a go...
1      being silly. having ridiculous amonts of fun w...
2      improvising in different contexts. alternating...
3      playing synthesizers and organizing books acco...
4      creating imagery to look at:<br />\nhttp://bag...
...                                                  ...
59941  i make an outstanding osso bucco. i am also ve...
59942  <a class="ilink" href="/interests?i=filmmaking...
59943  - looking at things objectively<br />\n- getti...
59944                                          listening
59945  i'm a great bullshitter. i don't know what it ...

                                                  essay3  ...  \
0      the way i look. i am a six foot half asian, ha...  ...
1                                                    NaN  ...
2      my large jaw and large glasses are the physica...  ...
3                      socially awkward but i do my best  ...
4                i smile a lot and my inquisitive nature  ...
...                                                  ...  ...
59941  i am told that people notice my smile, eyes an...  ...
59942                                dude, i don't know.  ...
59943  i'm quiet until i get used to the environment ...  ...
59944  it used to be the hair until i mowed it off bu...  ...
59945  either that i am funny/sarcastic, or that i am...  ...

                              location  \
0      south san francisco, california
1                  oakland, california
2            san francisco, california
3                 berkeley, california
4            san francisco, california
...                                ...
59941              oakland, california
59942        san francisco, california
59943  south san francisco, california
59944        san francisco, california
59945        san francisco, california

                                          offspring orientation  \
0      doesn&rsquo;t have kids, but might want them    straight
1      doesn&rsquo;t have kids, but might want them    straight
2                                               NaN    straight
3                           doesn&rsquo;t want kids    straight
4                                               NaN    straight
...                                             ...         ...
59941                                      has kids    straight
59942                       doesn&rsquo;t have kids    straight
59943                       doesn&rsquo;t have kids    straight
59944       doesn&rsquo;t have kids, but wants them    straight
59945                                           NaN         gay

                            pets                                   religion  \
0      likes dogs and likes cats      agnosticism and very serious about it
1      likes dogs and likes cats   agnosticism but not too serious about it
2                       has cats                                        NaN
3                     likes cats                                        NaN
4      likes dogs and likes cats                                        NaN
...                          ...                                        ...
59941                   has dogs   catholicism but not too serious about it
59942  likes dogs and likes cats                                agnosticism
59943                        NaN  christianity but not too serious about it
59944  likes dogs and likes cats   agnosticism but not too serious about it
59945  likes dogs and likes cats          catholicism and laughing about it

      sex                                      sign          smokes  \
0       m                                    gemini       sometimes
1       m                                    cancer              no
2       m        pisces but it doesn&rsquo;t matter              no
3       m                                    pisces              no
4       m                                  aquarius              no
...    ..                                       ...             ...
59941   f  cancer and it&rsquo;s fun to think about              no
59942   m           leo but it doesn&rsquo;t matter              no
59943   m   sagittarius but it doesn&rsquo;t matter              no
59944   m     leo and it&rsquo;s fun to think about  trying to quit
59945   m  gemini and it&rsquo;s fun to think about       sometimes

                                                  speaks     status
0                                                english     single
1      english (fluently), spanish (poorly), french (...     single
2                                   english, french, c++  available
3                               english, german (poorly)     single
4                                                english     single
...                                                  ...        ...
59941                                            english     single
59942                                 english (fluently)     single
59943                                 english (fluently)     single
59944  english (fluently), spanish (poorly), chinese ...     single
59945                                            english     single

[59946 rows x 31 columns]

In [132]:
print(data.columns)
print(type(1.1)=='int')
list=[1,2,4]
a=pd.Series(list)
print(a.loc[2])
print('femi'.split(' '))

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0',
       'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')
False
4
['femi']

In [151]:
data1=data.dropna(subset=['education','income','job','location','sex','speaks'])
#print(data1.education.value_counts(dropna=False))
education=[]
for x in data1.education.tolist():   
        i=0
        if 'high' in x.split(' '):
            i+=1
            if 'graduated' in x.split(' '):
                i+=0
            elif 'dropped' in x.split(' '):
                i-=1
            else:
                i-=1 
        elif 'college' in x.split(' '):
            i+=2
            if 'graduated' in x.split(' '):
                i+=0
            elif 'dropped' in x.split(' '):
                i-=1
            else:
                i-=1
        elif 'masters' in x.split(' '):
            i+=3
            if 'graduated' in x.split(' '):
                i+=0
            elif 'dropped' in x.split(' '):
                i-=1
            else:
                i-=1
        elif 'ph.d' in x.split(' '):
            i+=4
            if 'graduated' in x.split(' '):
                i+=0
            elif 'dropped' in x.split(' '):
                i-=1
            else:
                i-=1
        else:
            i+=2
            if 'graduated' in x.split(' '):
                i+=0
            elif 'dropped' in x.split(' '):
                i-=1
            else:
                i-=1
         
        education.append(i)
data1.reset_index(inplace=True)        
#print(len(education))
data1.education=pd.Series(education)
#print(len(data1.education))
#print(data1.education.value_counts(dropna=False))
#print(data1)
data1.income[data1.income==-1]=data1.income.map({-1:0})
#print(data1.income.value_counts())
#print(data1.job.value_counts())
data1.job=data1.job.map({'other':3,'student':2,'retired':4,'unemployed':1,'rather not say':5,'transportation':6,'construction / craftsmanship':7,'hospitality / travel':8,'military':9,'education / academia':10,'law / legal services':11,'science / tech / engineering':12,'medicine / health':13,'entertainment / media':14,'computer / hardware / software':15,'artistic / musical / writer':16,'sales / marketing / biz dev':17,'political / government':18,'banking / financial / real estate':19,'clerical / administrative':20,'executive / management':21})
#print(data1.job.value_counts())
#print(data1.location.value_counts(ascending=True).index)
#print(data1.location.value_counts(ascending=True))
data1.location.value_counts(ascending=True)
for a in data1.location:
    for i in range(len(data1.location.value_counts(ascending=True))):
        if data1.location.value_counts(ascending=True).index.tolist()[i]==a:
            data1.location[data1.location==a]=data1.location[data1.location==a].map({a:i})
            
#print(data1.location)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\OLUWAF~1\AppData\Local\Temp/ipykernel_8856/1322845810.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.income[data1.income==-1]=data1.income.map({-1:0})
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\OLUWAF~1\AppData\Local\Temp/ipykernel_8856/1322845810.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.location[data1.location==a]=data1.location[data1.location==a].map({a:i})

KeyboardInterrupt:

In [152]:
#print(data1.location)
#print(data1.iloc[4])
print(data1.sex.value_counts())
data1.sex=data1.sex.map({'m':1,'f':0})
print(data1.sex)
#print(data1.speaks.value_counts())

m    28906
f    19236
Name: sex, dtype: int64
0        1
1        1
2        1
3        1
4        1
        ..
48137    0
48138    1
48139    1
48140    1
48141    1
Name: sex, Length: 48142, dtype: int64

In [153]:
#print(data1.head())
print(data1[['education','income','job','location','sex']])

       education  income  job location  sex
0              1       0    6    160.0    1
1              1   80000    8    176.0    1
2              1   20000    2    175.0    1
3              2       0   16    177.0    1
4              2       0   15    177.0    1
...          ...     ...  ...      ...  ...
48137          2       0   17    176.0    0
48138          1       0   14    177.0    1
48139          3  100000    7    160.0    1
48140          1       0   13    177.0    1
48141          3       0   13    177.0    1

[48142 rows x 5 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_tra