In [70]:


import pandas as pd

data=pd.read_csv('C:/Users/OLUWAFEMI/Downloads/OKCupid-Date-A-Scientist-Starter/OKCupid-Date-A-Scientist-Starter/profiles.csv')

def assign(data,x):
    listc=data.columns.tolist()
    value=listc[x]
    data1=data.dropna()
    data2=data.dropna()
    dict={}
    for j,col in enumerate(listc):
        if not col==value:
            data_col=data1[[value,col]]
            cols=data1[col].tolist()
            cgb=data_col.groupby(col)[value].mean().reset_index().sort_values(by=[value])[col].tolist()
            column=[]
            column1=[]
            for a in cols:
                for i in range(len(cgb)):
                    if cgb[i]==a:
                        column.append(i)
            dict[col]=column  
    dict[value]=data1[value]
    data1=pd.DataFrame(dict)
    return data1,data2

In [71]:
print(data.columns.tolist())

['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job', 'last_online', 'location', 'offspring', 'orientation', 'pets', 'religion', 'sex', 'sign', 'smokes', 'speaks', 'status']

In [72]:
x,data=assign(data,18)

In [73]:
print(x.dropna())
#print(x.income)
print(data)
print(x.education.value_counts())
print(data.education.value_counts())

       age  body_type  diet  drinks  drugs  education  essay0  essay1  essay2  \
0       44          2    12       1      0         13    2580    2026     968
19      46          7     6       1      0          7     782    2677    1356
22       8          3     6       1      0         10     865     827     944
94      33          3     6       1      1         10    3582    3488    3539
98      26          1     5       1      1          7    1038    1325    2098
...    ...        ...   ...     ...    ...        ...     ...     ...     ...
59904   46          2     9       0      0         12    2151    2840    2915
59907   16          9     5       1      1         10    3122    3130    3075
59913   33          6     6       1      0         10     596     302    1085
59942   16          3     6       3      1         13     266    1952    2166
59944    6          7     6       1      2         13    2597    2234    1423

       essay3  ...  offspring  orientation  pets  religion  sex  sign  smokes  \
0        1263  ...          9            1     9        42    1     0       1
19       2201  ...          5            1     9         9    1    13       0
22        943  ...          9            1     9        11    1    22       0
94       3449  ...         10            1     9        42    1    32       0
98       1996  ...          9            1     8        15    0    14       0
...       ...  ...        ...          ...   ...       ...  ...   ...     ...
59904    1649  ...          8            1     4        44    0    35       0
59907    3129  ...          5            1     8        32    1     3       1
59913     848  ...          5            1     9        38    0    25       0
59942    2258  ...          5            1     9        10    1    34       0
59944     544  ...          4            1     9        26    1     2       3

       speaks  status  income
0         843       2      -1
19        863       2      -1
22        940       2      -1
94        863       2   40000
98        863       2      -1
...       ...     ...     ...
59904     863       2      -1
59907     841       2   20000
59913     864       2      -1
59942     863       2      -1
59944     302       2      -1

[4407 rows x 31 columns]
       age       body_type               diet      drinks      drugs  \
0       22  a little extra  strictly anything    socially      never
19      33        athletic    mostly anything    socially      never
22      30             fit    mostly anything    socially      never
94      29             fit    mostly anything    socially  sometimes
98      31           curvy           anything    socially  sometimes
...    ...             ...                ...         ...        ...
59904   33  a little extra       mostly other  not at all      never
59907   24          skinny           anything    socially  sometimes
59913   29    full figured    mostly anything    socially      never
59942   24             fit    mostly anything       often  sometimes
59944   27        athletic    mostly anything    socially      often

                               education  \
0          working on college/university
19        graduated from masters program
22     graduated from college/university
94     graduated from college/university
98        graduated from masters program
...                                  ...
59904    graduated from two-year college
59907  graduated from college/university
59913  graduated from college/university
59942      working on college/university
59944      working on college/university

                                                  essay0  \
0      about me:<br />\n<br />\ni would love to think...
19     i relocated to san francisco half a year ago. ...
22     i tend to think the same way a comedian does a...
94     my names josh, and i create art for a living. ...
98     one day i will mod r/hotchickswithspreadsheets...
...                                                  ...
59904  hi! about me.... well i currently work from ho...
59907  my name is peter. i'm an oakland native, and i...
59913  i have lived in sf off and on for 7.5 years no...
59942  i'm nick.<br />\ni never know what to write ab...
59944  "all i have in this world are my balls and my ...

                                                  essay1  \
0      currently working as an international agent fo...
19     i left my comfort zone far behind in europe, a...
22     i'm a supply and demand manager for a sustaina...
94                                             living it
98     presently, holyshitwhatamidoinghere and the sp...
...                                                  ...
59904  besides raising my two children, i work from h...
59907  restaurant work downtown, (not enough) freelan...
59913  living it. no matter how much i try, i still f...
59942  currently finishing school for film production...
59944  following my dreams...<br />\n"you got a dream...

                                                  essay2  \
0      making people laugh.<br />\nranting about a go...
19     listening, connecting emotionally, analyzing t...
22     making predictions, planning anything (i'm pre...
94                                            everything
98     algebra, alliteration, big spoon and little sp...
...                                                  ...
59904  creative writing, dancing, gardening, listenin...
59907  remaining calm, selecting music, baking pie, b...
59913  making people laugh, pairing flip flops with a...
59942  <a class="ilink" href="/interests?i=filmmaking...
59944                                          listening

                                                  essay3  ...  \
0      the way i look. i am a six foot half asian, ha...  ...
19     cheerful, open, curious, direct, active, sport...  ...
22           that i'm smiling. pretty much at all times.  ...
94                           i honestly couldn't say....  ...
98     i look a lot like that chick you banged your f...  ...
...                                                  ...  ...
59904  people usually comment on my long hair, and i'...  ...
59907  i talk and smile out the side of my mouth. you...  ...
59913                                  my smile or eyes.  ...
59942                                dude, i don't know.  ...
59944  it used to be the hair until i mowed it off bu...  ...

                              location  \
0      south san francisco, california
19           san francisco, california
22           san francisco, california
94           san francisco, california
98           san francisco, california
...                                ...
59904            san bruno, california
59907              oakland, california
59913        san francisco, california
59942        san francisco, california
59944        san francisco, california

                                          offspring orientation  \
0      doesn&rsquo;t have kids, but might want them    straight
19                          doesn&rsquo;t have kids    straight
22     doesn&rsquo;t have kids, but might want them    straight
94                          doesn&rsquo;t want kids    straight
98     doesn&rsquo;t have kids, but might want them    straight
...                                             ...         ...
59904                                      has kids    straight
59907                       doesn&rsquo;t have kids    straight
59913                       doesn&rsquo;t have kids    straight
59942                       doesn&rsquo;t have kids    straight
59944       doesn&rsquo;t have kids, but wants them    straight

                            pets                                   religion  \
0      likes dogs and likes cats      agnosticism and very serious about it
19     likes dogs and likes cats   catholicism but not too serious about it
22     likes dogs and likes cats  agnosticism and somewhat serious about it
94     likes dogs and likes cats      agnosticism and very serious about it
98                    likes dogs                                    atheism
...                          ...                                        ...
59904                 likes cats            other and very serious about it
59907                 likes dogs      atheism and somewhat serious about it
59913  likes dogs and likes cats          agnosticism and laughing about it
59942  likes dogs and likes cats                                agnosticism
59944  likes dogs and likes cats   agnosticism but not too serious about it

      sex                                      sign          smokes  \
0       m                                    gemini       sometimes
19      m  pisces and it&rsquo;s fun to think about              no
22      m   sagittarius but it doesn&rsquo;t matter              no
94      m                                     libra              no
98      f                                    pisces              no
...    ..                                       ...             ...
59904   f                                    cancer              no
59907   m  taurus and it&rsquo;s fun to think about       sometimes
59913   f         libra but it doesn&rsquo;t matter              no
59942   m           leo but it doesn&rsquo;t matter              no
59944   m     leo and it&rsquo;s fun to think about  trying to quit

                                                  speaks  status
0                                                english  single
19                                    english (fluently)  single
22                             english, spanish (poorly)  single
94                                    english (fluently)  single
98                                    english (fluently)  single
...                                                  ...     ...
59904                                 english (fluently)  single
59907                 english (fluently), spanish (okay)  single
59913               english (fluently), spanish (poorly)  single
59942                                 english (fluently)  single
59944  english (fluently), spanish (poorly), chinese ...  single

[4407 rows x 31 columns]
10    1739
7      699
13     572
12     184
8      170
11     132
6      128
18     120
20     100
16      91
25      71
22      64
9       62
24      48
14      47
15      37
21      21
19      20
23      18
2       16
4       16
26      15
3       12
17      10
1        7
5        5
27       2
0        1
Name: education, dtype: int64
graduated from college/university    1739
graduated from masters program        699
working on college/university         572
graduated from two-year college       184
graduated from high school            170
working on two-year college           132
working on masters program            128
dropped out of college/university     120
graduated from ph.d program           100
graduated from law school              91
dropped out of space camp              71
graduated from space camp              64
working on ph.d program                62
working on space camp                  48
college/university                     47
graduated from med school              37
dropped out of two-year college        21
working on law school                  20
dropped out of masters program         18
two-year college                       16
working on med school                  16
dropped out of high school             15
working on high school                 12
dropped out of ph.d program            10
space camp                              7
high school                             5
dropped out of law school               2
masters program                         1
Name: education, dtype: int64