In [3]:


import pandas as pd

data=pd.read_csv('C:/Users/OLUWAFEMI/Downloads/OKCupid-Date-A-Scientist-Starter/OKCupid-Date-A-Scientist-Starter/profiles.csv')
print(data.describe())
print(data.sex.value_counts())
def assign(data,x):
    listc=data.columns.tolist()
    value=listc[x]
    data1=data.dropna()
    data2=data.dropna()
    dict={}
    for j,col in enumerate(listc):
        y=data1[col].dtype
        if not y in ['float64','int64']:
            data_col=data1[[value,col]]
            cols=data1[col].tolist()
            cgb=data_col.groupby(col)[value].mean().reset_index().sort_values(by=[value])[col].tolist()
            column=[]
            column1=[]
            for a in cols:
                for i in range(len(cgb)):
                    if cgb[i]==a:
                        column.append(i)
            dict[col]=column
        else:     
            dict[col]=data1[col]
    data1=pd.DataFrame(dict)
    return data1,data2
x,data=assign(data,18)

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000
m    35829
f    24117
Name: sex, dtype: int64

KeyboardInterrupt:

In [3]:
#print(data.columns.tolist())

In [10]:
print(x.columns)
#print(x.last_online.value_counts(),data.last_online.value_counts())
print(x.orientation.value_counts(),data.orientation.value_counts())

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0',
       'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')
1    3825
0     308
2     274
Name: orientation, dtype: int64 straight    3825
gay          308
bisexual     274
Name: orientation, dtype: int64

In [1]:
#print(x.dropna())
#print(x.income)
#print(data)
#print(x.age.value_counts())
#print(data.age.value_counts())