In [91]:


import pandas as pd

data=pd.read_csv('C:/Users/OLUWAFEMI/Downloads/OKCupid-Date-A-Scientist-Starter/OKCupid-Date-A-Scientist-Starter/profiles.csv')

def assign(data,x):
    listc=data.columns.tolist()
    value=listc[x]
    data1=data.dropna()
    data2=data.dropna()
    dict={}
    for j,col in enumerate(listc):
        y=data1[col].dtype
        if not y in ['float64','int64']:
            data_col=data1[[value,col]]
            cols=data1[col].tolist()
            cgb=data_col.groupby(col)[value].mean().reset_index().sort_values(by=[value])[col].tolist()
            column=[]
            column1=[]
            for a in cols:
                for i in range(len(cgb)):
                    if cgb[i]==a:
                        column.append(i)
            dict[col]=column
        else:     
            dict[col]=data1[col]
    data1=pd.DataFrame(dict)
    return data1,data2

In [92]:
#print(data.columns.tolist())

In [93]:
x,data=assign(data,18)

In [94]:
#print(x.dropna())
#print(x.income)
#print(data)
print(x.age.value_counts())
print(data.age.value_counts())

26    265
27    241
24    219
25    215
30    206
29    201
23    196
28    190
31    159
22    157
32    154
33    146
34    129
21    115
35    115
20    109
37    101
36     92
38     87
39     85
43     74
42     73
44     72
41     70
40     69
19     68
45     64
47     57
48     51
56     48
49     45
18     42
50     41
54     40
51     39
52     38
46     37
55     33
53     32
60     31
58     30
59     26
61     24
62     20
57     20
64     17
63     17
66     13
65     11
67      9
68      8
69      6
Name: age, dtype: int64
26    265
27    241
24    219
25    215
30    206
29    201
23    196
28    190
31    159
22    157
32    154
33    146
34    129
21    115
35    115
20    109
37    101
36     92
38     87
39     85
43     74
42     73
44     72
41     70
40     69
19     68
45     64
47     57
48     51
56     48
49     45
18     42
50     41
54     40
51     39
52     38
46     37
55     33
53     32
60     31
58     30
59     26
61     24
62     20
57     20
64     17
63     17
66     13
65     11
67      9
68      8
69      6
Name: age, dtype: int64